* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

.header {
    align-items: flex-start;
    padding: 20px 35px;
    justify-content: space-between;
    position: center;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    background-color: blanchedalmond;
    background-position: center;
    background-attachment: fixed;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .name {
    color: navy;
}

.header nav {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 60px;
}

a {
    text-decoration: none;
    color: navy;
}

p {
    font-size: 20px;
}

.my-info {
    margin-left: 15%;
    margin-right: auto;
    display: block;
    width: 50%;
}

.float-left {
    float: left;
    margin-right: 25px;
    border: 5px solid black;
}

.work {
    width: auto;
    display: inline-block;
    margin-left: 75px;

}

.about {
    width: auto;
    display: inline-block;
    
}

.get-into-contact {
    margin: 50px 50px;
    padding: 30px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blanchedalmond;
    color: navy;
}

.get-into-contact nav {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.get-into-contact nav ul {
    list-style-type: none;
}

.get-into-contact nav ul li {
    display: inline-block;
    margin-left: 50px;
    text-decoration: underline;
    font-weight: bold;
}

.get-into-contact h3 {
    display: inline-block;
    font-size: 20px;
    text-align: center;
}

.get-into-contact nav ul li a {
    font-size: x-large;
}

.online-about-me {
    margin-bottom: 20px;
    margin: 50px 50px;
    padding: 30px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blanchedalmond;
    color: navy;
}

.online-about-me img {
    max-height: 400px;
    max-width: 400px;
}

.online-about-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
    text-align: center;
}

.my-work {
    color: blanchedalmond;
}

.my-work h3 {
    font-size: 36px;
    color: navy;
    text-align: center;
}

.bigger {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;
    height: 500px;
    border: 5px solid black;
}

.flex-box {
    width: 25%;
    height: 33.33%;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    border: 5px solid black;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    float: left;
    position: relative;
}

.run-buddy {
    position: absolute;
    bottom: -10%;
    right: 65%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.first-challenge {
    position: absolute;
    bottom: -45%;
    right: 52%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.websites {
    position: absolute;
    bottom: -75%;
    right: 55%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.football {
    position: absolute;
    bottom: -105%;
    right: 55%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.coding {
    position: absolute;
    bottom: -138%;
    right: 53%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    max-width: 25%;
    height: 25%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    border: 5px solid black;
    justify-content: center;
    display: flex;
    align-items: center;
}

.footer {
    padding: 20px;
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.footer p {
    font-size: 16px;
    font: bold;
}
@media screen and (max-width: 1300px) {
    .run-buddy {
        position: absolute;
        bottom: -10%;
        right: 63%;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
    .first-challenge {
        position: absolute;
        bottom: -35%;
        right: 50%;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
        }
        .websites {
            position: absolute;
            bottom: -55%;
            right: 52%;
            background-color: black;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 12px;
        }
        .football {
            position: absolute;
            bottom: -76%;
            right: 52%;
            background-color: black;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 12px;
        }
        .coding {
            position: absolute;
            bottom: -97%;
            right: 50%;
            background-color: black;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 12px;
        }
}
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }
    .header h1 {
        width: 100%;
        text-align: center;
    }
    .header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    .header nav ul li a {
        font-size: 20px;
    }
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
    .my-info, .about {
        width: 100%;
    }
    .my-info {
        text-align: center;
    }
    .get-into-contact {
        flex: 0 70%;
    }
    .header {
        position: relative;
    }
    .run-buddy {
        position: absolute;
        bottom: 58%;
        right: 55%;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
    .my-work {
        position: relative;
    }
    .first-challenge {
    position: absolute;
    bottom: 42%;
    right: 45%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    }
    .websites {
        position: absolute;
        bottom: 30%;
        right: 50%;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
    }
    .football {
        position: absolute;
        bottom: 17%;
        right: 50%;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
    }
    .coding {
        position: absolute;
        bottom: 3%;
        right: 50%;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
    .about img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .get-into-contact {
        flex: 100%;
    }
    .get-into-contact nav ul li {
        width: 100%;
    }
    .run-buddy {
        position: absolute;
        bottom: 50%;
        right: 55%;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 13px;
    }
    .first-challenge {
        position: absolute;
        bottom: 37%;
        right: 43%;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 10px;
    }
    .websites {
        position: absolute;
        bottom: 27%;
        right: 47%;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 10px;
    }
    .football {
        position: absolute;
        bottom: 15%;
        right: 47%;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 10px;
    }
    .coding {
        position: absolute;
        bottom: 2%;
        right: 45%;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 10px;
    }
}
@media screen and (max-width: 575px) {
    .my-work img {
        flex-wrap: wrap;
    }
    .run-buddy {
        position: absolute;
        bottom: 45%;
        right: 50%;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 10px;
    }
    .first-challenge {
        position: absolute;
        bottom: 32%;
        right: 40%;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 8px;
    }
    .websites {
        position: absolute;
        bottom: 22%;
        right: 45%;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 8px;
    }
    .football {
        position: absolute;
        bottom: 12%;
        right: 45%;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 8px;
    }
    .coding {
        position: absolute;
        bottom: 2%;
        right: 42%;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 8px;
    }
}